<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

    <!-- This absTopForms start -->
    <section id="absTopTable">

    </section>
    <!-- This absTopForms end -->

    <!-- This fullTopForms start -->
    <section id="fullTopTable">

    </section>
    <!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

    <!-- This webBannerTable start -->
    <article id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

        <!-- This bannerAbsTable start -->
        <section id="bannerAbsTable" class="absTopTable">

        </section>
        <!-- This bannerAbsTable end -->

        <section id="banner-body" style="display: block;min-height: 300px;">

            <!-- This bannerTopTable start -->
            <article id="bannerTopTable" class="topTable" style="display: none;">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-top-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-top-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-top-right" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerTopTable end -->

            <!-- This bannerMiddleTable start -->
            <article id="bannerMiddleTable" class="middleTable">

                <!-- 顶级主体 左侧 区域开启 -->
                <section class="leftTable flex-middle-left" style="display: none;">

                </section>
                <!-- 顶级主体 左侧 区域结束 -->

                <!-- 顶级主体 中间 区域导航开启 -->
                <section class="centerTable flex-middle-center">

                    <div id="webBanner" style="width: 1200px; overflow: hidden; height: 300px;"></div>

                </section>
                <!-- 顶级主体 中间 区域导航结束 -->

                <!-- 顶级主体 右侧 区域导航开启 -->
                <section class="rightTable flex-middle-right" style="display: none;">

                </section>
                <!-- 顶级主体右侧区域导航结束 -->

            </article>
            <!-- This bannerMiddleTable end -->

            <!-- This bannerBottomTable start -->
            <article id="bannerBottomTable" class="bottomTable">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-bottom-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerBottomTable end -->

        </section>

    </article>
    <!-- This webBannerTable end -->

    <!-- This webBannerTable start -->
    <article id="webContentBody" class="webContentBody">

        <section class="alive-layout">

            <article class="alive-header" style="height: 50px;"></article>

            <article class="alive-body">
                <div id="homeService" class="alive-flex alive-level" style="width:100%;margin-top:16px;height:134px;position: relative;overflow: hidden;">
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a href="{:url('house/index')}" target="_blank">新房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('house/search')}" target="_blank">找新房源</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('contact/index')}" target="_blank">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a href="{:url('hand_house/index')}" target="_blank">二手房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('hand_house/search')}" target="_blank">找二手房</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('contact/index')}" target="_blank">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a href="{:url('index/sell')}" target="_blank">卖房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('news/index')}" target="_blank">楼市资讯</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('contact/index')}" target="_blank">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a href="{:url('contact/service')}" target="_blank">客服</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('contact/hotService')}" target="_blank">金牌客服</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active" href="{:url('contact/index')}" target="_blank">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="alive-footer" style="height: 50px;"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">二手好房</div>
                    <div class="extra"><p>100%真实房源 无虚假</p></div>
                </div>
            </article>

            <article class="alive-body">
                <div class="alive-flex alive-upLevel" style="width:100%;min-height:350px;position: relative;overflow: hidden;">
                    <div class="alive-layout">

                        <div class="alive-header"></div>

                        <div class="alive-body">
                            <div id="homeSecondHandHouse" class="alive-flex outer">
                                {volist name="handHouse" id="model"}
                                <div class="item" style="width: 290px;height: 330px;">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.description}" data-url="{$model.url_icon}" title="{$model.description}" lay-text="{$model.description}" lay-filter="tooltitle"
                                                 style="width: 290px; height: 211px;">
                                        </a>
                                    </div>
                                    <div class="alive-upLevel half itemTitle" style="height: 100px;">
                                        <div class="itemDesc">
                                            <p><span>{$model.title}</span></p>
                                        </div>
                                        <div class="alive-level half">
                                            <div class="alive-bottomLeft house-price">{$model.price}/元</div>
                                            <div class="alive-bottomRight house-date">
                                                <a hidefocus="true" href="/" target="_blank" title="{$model.title}">
                                                    预约看房
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {/volist}
                                {volist name="handHouse" id="model"}
                                <div class="item" style="width: 290px;height: 330px;">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.description}" data-url="{$model.url_icon}" title="{$model.description}" lay-text="{$model.description}" lay-filter="tooltitle"
                                                 style="width: 290px; height: 211px;">
                                        </a>
                                    </div>
                                    <div class="alive-upLevel half itemTitle" style="height: 100px;">
                                        <div class="itemDesc">
                                            <p><span>{$model.title}</span></p>
                                        </div>
                                        <div class="alive-level half">
                                            <div class="alive-bottomLeft house-price">{$model.price}/元</div>
                                            <div class="alive-bottomRight house-date">
                                                <a hidefocus="true" href="/" target="_blank" title="{$model.title}">
                                                    预约看房
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {/volist}
                                {volist name="handHouse" id="model"}
                                <div class="item" style="width: 290px;height: 330px;">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.description}" data-url="{$model.url_icon}" title="{$model.description}" lay-text="{$model.description}" lay-filter="tooltitle"
                                                 style="width: 290px; height: 211px;">
                                        </a>
                                    </div>
                                    <div class="alive-upLevel half itemTitle" style="height: 100px;">
                                        <div class="itemDesc">
                                            <p><span>{$model.title}</span></p>
                                        </div>
                                        <div class="alive-level half">
                                            <div class="alive-bottomLeft house-price">{$model.price}/元</div>
                                            <div class="alive-bottomRight house-date">
                                                <a hidefocus="true" href="/" target="_blank" title="{$model.title}">
                                                    预约看房
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {/volist}
                                {volist name="handHouse" id="model"}
                                <div class="item" style="width: 290px;height: 330px;">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.description}" data-url="{$model.url_icon}" title="{$model.description}" lay-text="{$model.description}" lay-filter="tooltitle"
                                                 style="width: 290px; height: 211px;">
                                        </a>
                                    </div>
                                    <div class="alive-upLevel half itemTitle" style="height: 100px;">
                                        <div class="itemDesc">
                                            <p><span>{$model.title}</span></p>
                                        </div>
                                        <div class="alive-level half">
                                            <div class="alive-bottomLeft house-price">{$model.price}/元</div>
                                            <div class="alive-bottomRight house-date">
                                                <a hidefocus="true" href="/" target="_blank" title="{$model.title}">
                                                    预约看房
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {/volist}
                            </div>
                        </div>

                        <div class="alive-footer"></div>

                    </div>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="display:block;overflow: hidden;position: absolute;left: 0;right: 0;z-index: -1;">
                <img data-url="/static/uploads/theme/theme-orange-bg.jpg" style="height: 500px;width: 100%;">
            </article>

            <article class="alive-body" style="background-color: rgba(0,0,0,0)">
                <div class="alive-flex alive-centerLevel" style="width:100%;height:500px;position: relative;overflow: hidden;">
                    <div class="alive-layout">

                        <div class="alive-header"></div>

                        <div class="alive-body">
                            <div id="homeSecondHandHouseHot" class="alive-flex" style="width: 100%;height: 350px;">
                                {volist name="handHouse" id="model"}
                                <div class="item">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.title}" data-url="{$model.url_icon}" title="">
                                            <div class="bottom-desc">{$model.title}</div>
                                        </a>
                                    </div>
                                    <div class="itemTitle" style="height: 50px;">
                                        <span style="float: left;">{$model.title}</span>
                                        <span style="float: right">{$model->getValue('room',$model.room)}室{$model->getValue('hall',$model.hall)}厅{$model->getValue('toilet',$model.toilet)}卫 | {$model.area}m² | {$model->getValue('fitment',$model.fitment)}</span>
                                    </div>
                                </div>
                                {/volist}
                                {volist name="handHouse" id="model"}
                                <div class="item">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.title}" data-url="{$model.url_icon}" title="">
                                            <div class="bottom-desc">{$model.title}</div>
                                        </a>
                                    </div>
                                    <div class="itemTitle" style="height: 50px;">
                                        <span style="float: left;">{$model.title}</span>
                                        <span style="float: right">{$model->getValue('room',$model.room)}室{$model->getValue('hall',$model.hall)}厅{$model->getValue('toilet',$model.toilet)}卫 | {$model.area}m² | {$model->getValue('fitment',$model.fitment)}</span>
                                    </div>
                                </div>
                                {/volist}
                                {volist name="handHouse" id="model"}
                                <div class="item">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="{$model.url}" target="_blank">
                                            <img alt="{$model.title}" data-url="{$model.url_icon}" title="">
                                            <div class="bottom-desc">{$model.title}</div>
                                        </a>
                                    </div>
                                    <div class="itemTitle" style="height: 50px;">
                                        <span style="float: left;">{$model.title}</span>
                                        <span style="float: right">{$model->getValue('room',$model.room)}室{$model->getValue('hall',$model.hall)}厅{$model->getValue('toilet',$model.toilet)}卫 | {$model.area}m² | {$model->getValue('fitment',$model.fitment)}</span>
                                    </div>
                                </div>
                                {/volist}
                            </div>
                        </div>

                        <div class="alive-footer"></div>

                    </div>
                </div>
            </article>

            <article class="alive-footer" style="height: 50px;"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">最新房源</div>
                    <div class="extra"><p>100%真实房源 无虚假</p></div>
                </div>
            </article>

            <article class="alive-body">
                <div class="alive-flex alive-upLevel" style="width:100%;min-height:600px;position: relative;overflow: hidden;">
                    <div class="alive-outer">
                        <div class="alive-flex" style="position: relative;">

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                            {volist name="house" id="model"}
                            <div class="alive-item-outer" style="width: 310px; height: 340px;">
                                <div>
                                    <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                        <div style="bottom:49.0px;">
                                            <img alt="{$model.title}" title="" src="{$model.url_icon}"
                                                 style="width:310.0px;height:282.0px;">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div style="width: 100%;">
                                        <div>
                                            <a class="" href="" target="_blank"></a>
                                        </div>
                                        <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">{$model.title}</a>
                                    </div>
                                    <p>{$model.description}</p>
                                </div>
                            </div>
                            {/volist}

                        </div>
                    </div>
                </div>
            </article>

            <article class="alive-footer" style="height: 50px;"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="background-color:rgba(33,33,33,0.3);overflow: hidden;position: absolute;left: 0;right: 0;z-index: -1;">
                <img data-url="/static/uploads/theme/theme-service-bg.jpg" style="height: 240px;width: 100%;">
            </article>

            <article class="alive-body" style="background-color: rgba(0,0,0,0)">
                <div class="alive-flex alive-centerLevel" style="width:100%;height:240px;position: relative;overflow: hidden;">
                    <div class="alive-layout">

                        <div class="alive-header"></div>

                        <div class="alive-body">
                            <div id="moreHouse" class="alive-flex" style="width: 100%;height: 240px;">
                                <p style="text-align:left;line-height:5em;">
                                    <strong>
                                            <span style="font-family:微软雅黑;">
                                                <span style="font-family:微软雅黑;font-size:39px;color:#FFFFFF;">
                                                    提供最新资讯
                                                </span>
                                            </span>
                                    </strong>
                                    <span style="font-family:微软雅黑;">
                                            <span style="font-family:微软雅黑;font-size:39px;">
                                            </span>
                                            <br>
                                        </span>
                                </p>
                                <p style="text-align:left;line-height:5em;">
                                        <span style="font-family:微软雅黑;font-size:22px;color:#FFFFFF;">
                                            尽在好房置业
                                        </span>
                                </p>
                            </div>
                        </div>

                        <div class="alive-footer"></div>

                    </div>
                </div>
            </article>

            <article class="alive-footer" style="height: 50px;"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">最新资讯</div>
                    <div class="extra"><p style="cursor:pointer;">更多资讯</p></div>
                </div>
            </article>

            <article class="alive-body">
                <div class="alive-flex alive-Level" style="width:100%;height:500px;position: relative;overflow: hidden;">
                    <div class="" style="width: 62.8%;">
                        <table class="layui-table" lay-skin="nob" lay-bg="none">
                            <thead>
                            </thead>
                            <tbody>

                            {volist name="news" id="model"}
                            <tr class="news-item" data-key="{$model.id}" style="width: 62.8%;">
                                <td width="30">
                                    <img alt="{$model.title}" title="" src="{$model.url_icon}" style="width:30px;height:30px;">
                                </td>
                                <td width="30" style="padding: 0;">
                                    <span class="layui-text layui-danger" style="padding: 0;">{$model->getValue('type',$model.type)}</span>
                                </td>
                                <td>
                                    <div lay-filter="tooltitle" lay-text="{$model.description}" class="layui-summary"
                                         style="width: 520px!important;text-align: center;">
                                        {$model.title}
                                    </div>
                                </td>
                                <td width="80">{$model.created_at|toDate='Y-m-d'}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="news-show">
                        {notempty name="news"}
                        <div>
                            <a hidefocus="true" href="{$news[0]['url_icon']}" target="_blank">
                                <img alt="{$news[0]['title']}" data-url="{$news[0]['url_icon']}" title=""
                                     style="width: 300px; height: inherit;">
                            </a>
                            <a hidefocus="true" href="{$news[0]['url_icon']}" target="_blank">
                                <p style="width: 300px; line-height: 20px;font-size: 14px;padding: 0 10px;">
                                    {$news[0]['description']}
                                </p>
                            </a>
                        </div>
                        {/notempty}
                    </div>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="overflow: hidden;position: absolute;left: 0;right: 0;z-index: -1;">
                <img data-url="/static/uploads/theme/theme-service-bg.jpg" style="height: 240px;width: 100%;">
            </article>

            <article class="alive-body" style="background-color: rgba(0,0,0,0)">
                <div class="alive-flex alive-centerLevel" style="width:100%;height:240px;position: relative;overflow: hidden;">
                    <div class="alive-layout">

                        <div class="alive-header"></div>

                        <div class="alive-body">
                            <div id="moreService" class="alive-flex" style="width: 100%;height: 240px;">
                                <p style="text-align:left;line-height:5em;">
                                    <strong>
                                            <span style="font-family:微软雅黑;">
                                                <span style="font-family:微软雅黑;font-size:39px;color:#FFFFFF;">
                                                    买房、卖房一站式服务
                                                </span>
                                            </span>
                                    </strong>
                                    <span style="font-family:微软雅黑;">
                                            <span style="font-family:微软雅黑;font-size:39px;">
                                            </span>
                                            <br>
                                        </span>
                                </p>
                                <p style="text-align:left;line-height:5em;">
                                        <span style="font-family:微软雅黑;font-size:22px;color:#FFFFFF;">
                                            尽在好房置业
                                        </span>
                                </p>
                            </div>
                        </div>

                        <div class="alive-footer"></div>

                    </div>
                </div>
            </article>

            <article class="alive-footer" style="height: 50px;"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">常见问题</div>
                    <div class="extra"><p style="cursor:pointer;">更多问题</p></div>
                </div>
            </article>

            <article class="alive-body">
                <div class="alive-flex alive-level half" style="width:100%;min-height:500px;position: relative;overflow: hidden;">
                    <div class="" style="width: 40%">
                        <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                            <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                 style="width: inherit; height: inherit;">
                        </a>
                    </div>
                    <div class="" style="width: 60%">
                        <div class="alive-layout">

                            <div class="alive-header"></div>

                            <div class="alive-body">
                                <div class="alive-line">
                                    <div class="alive-flex" style="position: relative;width: 100%;">
                                        <div class="alive-line-item alive-level" style="height:70px;">
                                            <div class="level-right line-right alive-level">
                                                <div class="level-left line-icon">
                                                    <div class="circleOuter">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                                <div class="level-right line-content">
                                                    <div class="content-title">
                                                        <a class="" hidefocus="true" href="" target="_blank" title="">二手房过户有什么需要准备的？</a>
                                                    </div>
                                                    <div class="content-body">
                                                        <p class="summary">购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hideLine" style="width: 100%;">
                                        <div class="alive-line-item alive-level" style="height:70px;">
                                            <div class="level-right line-right alive-level">
                                                <div class="level-left line-icon">
                                                    <div class="circleOuter">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                                <div class="level-right line-content">
                                                    <div class="content-title">
                                                        <a class="" hidefocus="true" href="" target="_blank" title="">二手房过户有什么需要准备的？</a>
                                                    </div>
                                                    <div class="content-body">
                                                        <p class="summary">购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hideLine" style="width: 100%;">
                                        <div class="alive-line-item alive-level" style="height:70px;">
                                            <div class="level-right line-right alive-level">
                                                <div class="level-left line-icon">
                                                    <div class="circleOuter">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                                <div class="level-right line-content">
                                                    <div class="content-title">
                                                        <a class="" hidefocus="true" href="" target="_blank" title="">二手房过户有什么需要准备的？</a>
                                                    </div>
                                                    <div class="content-body">
                                                        <p class="summary">购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hideLine" style="width: 100%;">
                                        <div class="alive-line-item alive-level" style="height:70px;">
                                            <div class="level-right line-right alive-level">
                                                <div class="level-left line-icon">
                                                    <div class="circleOuter">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                                <div class="level-right line-content">
                                                    <div class="content-title">
                                                        <a class="" hidefocus="true" href="" target="_blank" title="">二手房过户有什么需要准备的？</a>
                                                    </div>
                                                    <div class="content-body">
                                                        <p class="summary">购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hideLine" style="width: 100%;">
                                        <div class="alive-line-item alive-level" style="height:70px;">
                                            <div class="level-right line-right alive-level">
                                                <div class="level-left line-icon">
                                                    <div class="circleOuter">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                                <div class="level-right line-content">
                                                    <div class="content-title">
                                                        <a class="" hidefocus="true" href="" target="_blank" title="">二手房过户有什么需要准备的？</a>
                                                    </div>
                                                    <div class="content-body">
                                                        <p class="summary">购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hideLine" style="width: 100%;">
                                        <hr class="upLine" style="height:100%;left: 22px;">
                                    </div>
                                </div>
                            </div>

                            <div class="alive-footer"></div>

                        </div>
                    </div>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

    </article>
    <!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

    <!-- This fullBottomForms start -->
    <article id="fullBottomTable">

    </article>
    <!-- This fullBottomForms end -->

    <!-- This absBottomForms start -->
    <article id="absBottomTable">

    </article>
    <!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script>

    $(function () {
        var data = JSON.parse('{$slider}');
        var options = {
            "banner": "#webBanner",
//        "width": 1200,
//        "height": 487,
            "playTime": 6000,
            "animateTime": 628,
            "interval": 6000,
            "btnType": 1,
            "targetType": "2",
            "wideScreen": true,
            "autoPlay":true
        };
        Site.initBanner(data,options);

        var index;
        $(document).on('mouseover','.news-item[data-key]',function () {
            var that = $(this);
            if (index == that.attr('data-key')){
                return;
            }else {
                index = that.attr('data-key');
            }
            var img = $('img','.news-item[data-key]');
            var href= img.attr('src'),alt = img.attr('alt'),src = img.attr('src'),
                desc = $('[lay-text]','.news-item[data-key]').attr('lay-text');
            var html = '<div><a hidefocus="true" href="'+href+'" target="_blank"> ' +
                '<img alt="'+alt+'" src="'+src+'" title="" style="width: 300px; height: inherit;">' +
                '</a><p style="width: 300px; line-height: 20px;font-size: 14px;padding: 0 10px;">'+desc+'</p></a></div>';
            $('.news-show').html(html);
        })
    });

</script>

</body>
</html>