<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

	<!-- This absTopForms start -->
	<article id="absTopTable">

	</article>
	<!-- This absTopForms end -->

	<!-- This fullTopForms start -->
	<article id="fullTopTable">

	</article>
	<!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

	<!-- This webBannerTable start -->
	<article id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

		<!-- This bannerAbsTable start -->
		<section id="bannerAbsTable" class="absTopTable">

		</section>
		<!-- This bannerAbsTable end -->

		<section id="banner-body" class="flex" style="display: block;min-height: 300px;">

			<!-- This bannerTopTable start -->
			<article id="bannerTopTable" class="topTable" style="display: none;">

				<!-- 左侧 区域开启 -->
				<section class="leftTable flex-top-left" style="display: none;">

				</section>
				<!-- 左侧 区域结束 -->

				<!-- 中间 区域开启 -->
				<section class="centerTable flex-top-center" style="display: none;">

				</section>
				<!-- 中间 区域结束 -->

				<!-- 右侧 区域开启 -->
				<section class="rightTable flex-top-right" style="display: none;">

				</section>
				<!-- 右侧 区域结束 -->

			</article>
			<!-- This bannerTopTable end -->

			<!-- This bannerMiddleTable start -->
			<article id="bannerMiddleTable" class="middleTable">

				<!-- 顶级主体 左侧 区域开启 -->
				<section class="leftTable flex-middle-left" style="display: none;">

				</section>
				<!-- 顶级主体 左侧 区域结束 -->

				<!-- 顶级主体 中间 区域导航开启 -->
				<section class="centerTable flex-middle-center">

					<div id="webBanner" style="width: 1200px; overflow: hidden; height: 300px;"></div>

				</section>
				<!-- 顶级主体 中间 区域导航结束 -->

				<!-- 顶级主体 右侧 区域导航开启 -->
				<section class="rightTable flex-middle-right" style="display: none;">

				</section>
				<!-- 顶级主体右侧区域导航结束 -->

			</article>
			<!-- This bannerMiddleTable end -->

			<!-- This bannerBottomTable start -->
			<article id="bannerBottomTable" class="bottomTable">

				<!-- 左侧 区域开启 -->
				<section class="leftTable flex-bottom-left" style="display: none;">

				</section>
				<!-- 左侧 区域结束 -->

				<!-- 中间 区域开启 -->
				<section class="centerTable flex-bottom-center" style="display: none;">

				</section>
				<!-- 中间 区域结束 -->

				<!-- 右侧 区域开启 -->
				<section class="rightTable flex-bottom-left" style="display: none;">

				</section>
				<!-- 右侧 区域结束 -->

			</article>
			<!-- This bannerBottomTable end -->

		</section>

	</article>
	<!-- This webBannerTable end -->

	<!-- This webBannerTable start -->
	<article id="webContentBody" class="webContentBody">

		<section class="alive-layout">

			<article class="alive-header">
			</article>

			<article class="alive-body">
				<div class="alive-upLevel" style="height:120px;">
					<form class="layui-form search-box" action="{:url('search')}" method="get" id="searchForm" style="margin-top: 50px;">
						<div class="search-container">
							<div class="search-body" style="position: relative;">
								<input class="layui-input search-input" type="text" name="keyword" value="" style="width:1200px;display: inline-block;" placeholder="请输入楼盘或小区名开始找房">
								<button type="submit" class="search-submit layui-btn layui-btn-danger" lay-filter="submit" style="position: absolute;right: 0;top: 0;">搜索</button>
							</div>
						</div>
					</form>
				</div>
			</article>

			<article class="alive-footer"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-title" style="width: 100%;">
					<div class="title">热门楼盘</div>
					<div class="extra"><p style="cursor:pointer;">更多楼盘</p></div>
				</div>
			</article>

			<article class="alive-body">
				<div class="alive-flex alive-upLevel" style="width:100%;height:350px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-center" style="height:300px;">
						<div id="newHouseBuild" class="alive-flex" style="height: 280px;">
							{volist name="house" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='4' }
							<div class="item" style="width: 290px;height: 280px;">
								<div class="itemIcon">
									<a hidefocus="true" href="{$model.url}" target="_blank">
										<img alt="{$model.title}" data-url="{$model.url_icon}" title=""
											 style="width: 290px; height: 211px;">
									</a>
								</div>
								<div class="alive-upLevel half itemTitle" style="height: 70px;">
									<div class="itemDesc alive-center">
										<p><a>{$model.title}</a></p>
									</div>
									<div class="itemDesc alive-center">
										<p>户型： {$model.room}房{$model.hall}厅</p>
									</div>
								</div>
							</div>
							{/volist}

						</div>
					</div>
				</div>
			</article>

			<article class="alive-footer" style="height: 50px;"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-titleCenter border" style="width: 100%;">
					<div class="item active">最热房源</div>
				</div>
			</article>

			<article class="alive-body">
				<div id="newHouse" class="alive-flex alive-upLevel"
					 style="width:100%;min-height:650px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-upLevel" style="position: relative;">

						<div class="alive-layout">

							<div class="alive-header"></div>

							<div class="alive-body">
								<div class="alive-flex outer">
									{volist name="house" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='10' }
									<div class="item alive-item-outer min">
										<div class="itemIcon">
											<a hidefocus="true" href="{$model.url}" target="_blank">
												<img alt="{$model.title}" src="{$model.url_icon}" title=""
													 style="width: inherit; height: inherit;">
											</a>
										</div>
										<div class="itemTitle">
											<a hidefocus="true"
											   href="/"
											   target="_blank"
											   title="{$model.title}">{$model.title}</a>
										</div>
									</div>
									{/volist}
								</div>
							</div>

							<div class="alive-footer"></div>

						</div>

					</div>
				</div>
			</article>

			<article class="alive-footer"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-titleCenter border" style="width: 100%;">
					<div class="item active">推荐房源</div>
				</div>
			</article>

			<article class="alive-body">
				<div id="hotHouse" class="alive-flex alive-upLevel"
					 style="width:100%;min-height:650px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-upLevel" style="position: relative;">

						<div class="alive-layout">

							<div class="alive-header"></div>

							<div class="alive-body">
								<div class="alive-flex outer">
									{volist name="house" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='10' }
									<div class="item alive-item-outer min">
										<div class="itemIcon">
											<a hidefocus="true" href="{$model.url}" target="_blank">
												<img alt="{$model.title}" src="{$model.url_icon}" title=""
													 style="width: inherit; height: inherit;">
											</a>
										</div>
										<div class="itemTitle">
											<a hidefocus="true"
											   href="/"
											   target="_blank"
											   title="{$model.title}">{$model.title}</a>
										</div>
									</div>
									{/volist}
								</div>
							</div>

							<div class="alive-footer"></div>

						</div>

					</div>
				</div>
			</article>

			<article class="alive-footer"></article>

		</section>

	</article>
	<!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

	<!-- This fullBottomForms start -->
	<article id="fullBottomTable">

	</article>
	<!-- This fullBottomForms end -->

	<!-- This absBottomForms start -->
	<article id="absBottomTable">

	</article>
	<!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script>

    $(function () {
        var data = JSON.parse('{$slider}');
        var options = {
            "banner": "#webBanner",
            "height": 300,
			"isWidth":true,
            "playTime": 6000,
            "animateTime": 628,
            "interval": 6000,
            "btnType": 1,
            "targetType": "2",
//            "wideScreen": true,
//            "autoPlay":true,
            hiddenBar: true,//设置是否隐藏底部导航条
            hiddenControl: true,//设置隐藏左右切换按钮
        };
        Site.initBanner(data,options);

    });

</script>

</body>
</html>