<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

	<!-- This absTopForms start -->
	<article id="absTopTable">

	</article>
	<!-- This absTopForms end -->

	<!-- This fullTopForms start -->
	<article id="fullTopTable">

	</article>
	<!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

	<!-- This webBannerTable start -->
	<article id="webBannerTable" class="webBannerTable flex">

		<!-- This bannerAbsTable start -->
		<section id="bannerAbsTable" class="absTopTable">

		</section>
		<!-- This bannerAbsTable end -->

		<section id="banner-body" class="flex" style="display: block;">

			<!-- This bannerTopTable start -->
			<article id="bannerTopTable" class="topTable" style="display: none;">

				<!-- 左侧 区域开启 -->
				<section class="leftTable flex-top-left" style="display: none;">

				</section>
				<!-- 左侧 区域结束 -->

				<!-- 中间 区域开启 -->
				<section class="centerTable flex-top-center" style="display: none;">

				</section>
				<!-- 中间 区域结束 -->

				<!-- 右侧 区域开启 -->
				<section class="rightTable flex-top-right" style="display: none;">

				</section>
				<!-- 右侧 区域结束 -->

			</article>
			<!-- This bannerTopTable end -->

			<!-- This bannerMiddleTable start -->
			<article id="bannerMiddleTable" class="middleTable">

				<!-- 顶级主体 左侧 区域开启 -->
				<section class="leftTable flex-middle-left" style="display: none;">

				</section>
				<!-- 顶级主体 左侧 区域结束 -->

				<!-- 顶级主体 中间 区域导航开启 -->
				<section class="centerTable flex-middle-center">

				</section>
				<!-- 顶级主体 中间 区域导航结束 -->

				<!-- 顶级主体 右侧 区域导航开启 -->
				<section class="rightTable flex-middle-right" style="display: none;">

				</section>
				<!-- 顶级主体右侧区域导航结束 -->

			</article>
			<!-- This bannerMiddleTable end -->

			<!-- This bannerBottomTable start -->
			<article id="bannerBottomTable" class="bottomTable">

				<!-- 左侧 区域开启 -->
				<section class="leftTable flex-bottom-left" style="display: none;">

				</section>
				<!-- 左侧 区域结束 -->

				<!-- 中间 区域开启 -->
				<section class="centerTable flex-bottom-center" style="display: none;">

				</section>
				<!-- 中间 区域结束 -->

				<!-- 右侧 区域开启 -->
				<section class="rightTable flex-bottom-left" style="display: none;">

				</section>
				<!-- 右侧 区域结束 -->

			</article>
			<!-- This bannerBottomTable end -->

		</section>

	</article>
	<!-- This webBannerTable end -->

	<!-- This webBannerTable start -->
	<article id="webContentBody" class="webContentBody">

		<section class="alive-layout">

			<article class="alive-header">
				<form class="layui-form search-box" action="" method="get" id="searchForm">
					<div class="search-container">
						<div class="search-body">
							<div class="layui-form-item" style="padding: 0 35px;">
								<input class="layui-input search-input" type="text" name="keyword" value="{$Think.get.keyword}" style="width:960px;display: inline-block;" placeholder="请输入区域或小区名开始找房" >
								<button type="submit" class="search-submit layui-btn layui-btn-danger" lay-filter="submit">搜索</button>
								<label class="layui-btn layui-btn-primary" lay-filter="reset">重置</label>
							</div>
						</div>
						<div class="layout-colla-content layout-show">
							<div class="layui-form-item">
								<label class="layui-form-label">房屋类型：</label>
								<div class="layui-input-block">
									{php}$request = request()->request();{/php}
									<input type="radio" name="noHouseType" value="1" title="不限" lay-filter="the-one" lay-group="houseType" lay-default {eq name="Think.get.noHouseType" value="1"}checked{/eq} >
									{volist name="model->getLists('houseType')" id="item" }
									<input type="checkbox" name="houseType[]" value="{$key}" lay-filter="the-other" lay-group="houseType" lay-skin="primary" title="{$item}" {if condition="isset($request['houseType'])"}{in name="key" value="$request.houseType"}checked{/in}{/if} >
									{/volist}
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">楼层类型：</label>
								<div class="layui-input-block">
									<input type="radio" name="noFloorsType" value="1" title="不限" lay-filter="the-one" lay-group="floorsType" lay-default {eq name="Think.get.noFloorsType" value="1"}checked{/eq} >
									{volist name="model->getLists('floorsType')" id="item" }
									<input type="checkbox" name="floorsType[]" value="{$key}" lay-filter="the-other" lay-group="floorsType"  lay-skin="primary" title="{$item}" {if condition="isset($request['floorsType'])"}{in name="key" value="$request.floorsType"}checked{/in}{/if} >
									{/volist}
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">房源房型：</label>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="room" lay-search >
											<option value="">选择居室</option>
											<option value="">不限</option>
											{volist name="model->getLists('room')" id="item" }
											<option value="{$key}" {if condition="$Think.get.room eq $key"}selected{/if} >{$item} 室</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="hall" lay-search >
											<option value="">选择大厅</option>
											<option value="">不限</option>
											{volist name="model->getLists('hall')" id="item" }
											<option value="{$key}" {if condition="$Think.get.hall eq $key"}selected{/if} >{$item} 厅</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="kitchen" lay-search >
											<option value="">选择厨房</option>
											<option value="">不限</option>
											{volist name="model->getLists('kitchen')" id="item" }
											<option value="{$key}" {if condition="$Think.get.kitchen eq $key"}selected{/if} >{$item} 厨</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="toilet" lay-search >
											<option value="">选择独卫</option>
											<option value="">不限</option>
											{volist name="model->getLists('toilet')" id="item" }
											<option value="{$key}" {if condition="$Think.get.toilet eq $key"}selected{/if} >{$item} 卫</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="veranda" lay-search >
											<option value="">选择阳台</option>
											<option value="">不限</option>
											{volist name="model->getLists('veranda')" id="item" }
											<option value="{$key}" {if condition="$Think.get.veranda eq $key"}selected{/if} >{$item} 台</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="face" lay-search >
											<option value="">选择朝向</option>
											<option value="">不限</option>
											{volist name="model->getLists('face')" id="item" }
											<option value="{$key}" {if condition="$Think.get.face eq $key"}selected{/if} >{$item} 朝向</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">房源标签：</label>
								<div class="layui-input-block">
									<input type="radio" name="noHouseLabel" value="1" title="不限" lay-filter="the-one" lay-group="houseLabel" lay-default {eq name="Think.get.noHouseLabel" value="1"}checked{/eq} >
									{volist name="model->getLists('houseLabel')" id="item" }
									<input type="checkbox" name="houseLabel[]" value="{$key}" lay-filter="the-other" lay-group="houseLabel" lay-skin="primary" title="{$item}" {if condition="isset($request['houseLabel'])"}{in name="key" value="$request.houseLabel"}checked{/in}{/if} >
									{/volist}
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">装修状况：</label>
								<div class="layui-input-block">
									<input type="radio" name="noFitment" value="1" title="不限" lay-filter="the-one" lay-group="fitment" lay-default {eq name="Think.get.noFitment" value="1"}checked{/eq} >
									{volist name="model->getLists('fitment')" id="item" }
									<input type="checkbox" name="fitment[]" value="{$key}" lay-filter="the-other" lay-group="fitment" lay-skin="primary" title="{$item}" {if condition="isset($request['fitment'])"}{in name="key" value="$request.fitment"}checked{/in}{/if}>
									{/volist}
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">基础设施：</label>
								<div class="layui-input-block">
									<input type="radio" name="noSupporting" value="1" title="不限" lay-filter="the-one" lay-group="fitment" lay-default {eq name="Think.get.noSupporting" value="1"}checked{/eq} >
									{volist name="model->getLists('fitment')" id="item" }
									<input type="checkbox" name="fitment[]" value="{$key}" lay-filter="the-other" lay-group="fitment" lay-skin="primary" title="{$item}" {if condition="isset($request['fitment'])"}{in name="key" value="$request.fitment"}checked{/in}{/if}>
									{/volist}
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">价格大小：</label>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="eachPrice" lay-search >
											<option value="">均价范围</option>
											<option value="">不限</option>
											{volist name="model->getLists('eachPrice')" id="item" }
											<option value="{$key}" {if condition="$Think.get.eachPrice eq $key"}selected{/if} >{$item}</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="price" lay-search >
											<option value="">总价范围</option>
											<option value="">不限</option>
											{volist name="model->getLists('price')" id="item" }
											<option value="{$key}" {if condition="$Think.get.price eq $key"}selected{/if} >{$item}</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="area" lay-search >
											<option value="">面积范围</option>
											<option value="">不限</option>
											{volist name="model->getLists('area')" id="item" }
											<option value="{$key}" {if condition="$Think.get.area eq $key"}selected{/if} >{$item}</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="create" lay-search >
											<option value="">发布时间</option>
											<option value="">不限</option>
											{volist name="model->getLists('create')" id="item" }
											<option value="{$key}" {if condition="$Think.get.create eq $key"}selected{/if} >{$item}</option>
											{/volist}
										</select>
									</div>
									<div class="layui-input-inline" style="width: 130px;">
										<select name="update" lay-search >
											<option value="">更新时间</option>
											<option value="">不限</option>
											{volist name="model->getLists('update')" id="item" }
											<option value="{$key}" {if condition="$Think.get.update eq $key"}selected{/if} >{$item}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</article>

			<article class="alive-body">
				<div class="alive-flex alive-Level" style="width: 100%;min-height:300px;overflow: hidden;">
					<div class="alive-layout">

						<div class="alive-header"></div>

						<div class="alive-body alive-upLevel">

							{volist name="list" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>"}
							<div class="alive-layout alive-upLevel">

								<div class="alive-header" style="height: 25px;"></div>

								<div class="alive-body alive-upLevel">
									<div class="alive-level" style="width:100%;min-height:200px;position: relative;overflow: hidden;">

										<div style="width: 220px;">
											<img class="" alt="" title="" src="{$model.url_icon}" style="border-radius: 2px;">
										</div>
										<div style="flex: 1;">
											<p style="line-height:3em;"><strong><span style="font-family:微软雅黑;color:#FE8300;font-size:20px;">{$model.title}</span></strong></p>
											<p style="line-height:3em;"><span style="font-family:微软雅黑;color:#333333;font-size:17px;">{$model->getValue('fitment',$model.fitment)} &nbsp; {$model->getValue('room',$model.room)}室{$model->getValue('hall',$model.hall)}厅 &nbsp; {$model.years}年建造</span></p>
											<p style="line-height:3em;"><span style="font-family:微软雅黑;font-size:18px;color:#333333;"><span style="font-size:14px;color:#666666;">{$model.address}</span></span></p>
											<p style="line-height:3em;"><span style="font-family:微软雅黑;font-size:18px;color:#333333;"><span style="font-size:14px;color:#666666;"><br></span></span></p>
											<p style="clear:both;"><br></p>
											<p style="clear:both;">
												{php}$label = explode(',',$model->houseLabel);{/php}
												{volist name="label" id="item"}
												<label class="layui-btn layui-btn-mini layui-btn-danger">{$model->getValue('houseLabel',$item)}</label>
												{/volist}
											</p>
										</div>
										<div style="width: 240px;">
											<p style="text-align:center;"><span style="font-family:微软雅黑;font-size:22px;color:#333333;"><br></span></p>
											<p style="text-align:center;"><span style="font-family:微软雅黑;font-size:22px;color:#333333;"><br></span></p>
											<p style="text-align:center;"><span style="font-family:微软雅黑;font-size:18px;color:#333333;">{$model.area}平米</span></p>
										</div>
										<div style="width: 200px;">
											<p style="line-height:2em;text-align:center;"><strong><span style="font-family:微软雅黑;color:#FE8300;font-size:26px;"><br></span></strong></p>
											<p style="line-height:2em;text-align:left;"><strong><span style="font-family:微软雅黑;color:#FE8300;font-size:26px;"><br></span></strong></p>
											<p style="line-height:2em;text-align:left;"><strong><span style="font-family:微软雅黑;color:#FE8300;font-size:26px;">{$model.price/10000}万</span></strong></p>
											<p style="line-height:2em;text-align:left;"><span style="font-family:微软雅黑;font-size:18px;color:#333333;"><span style="font-size:13px;color:#666666;">{$model.eachPrice}元/平米</span></span></p>
											<p><br></p>
										</div>

									</div>
								</div>

								<div class="alive-footer" style="height: 25px;"></div>

							</div>
							<hr>
							{/volist}

						</div>

						<div class="alive-footer"></div>

					</div>
				</div>
			</article>

			<article class="alive-footer" style="height: 25px;"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-title" style="width: 100%;">
					<div class="title">热门楼盘</div>
					<div class="extra"><p style="cursor:pointer;">更多楼盘</p></div>
				</div>
			</article>

			<article class="alive-body">
				<div class="alive-flex alive-upLevel" style="width:100%;height:350px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-center" style="height:300px;">
						<div id="newHouseBuild" class="alive-flex" style="height: 280px;">
							{volist name="list" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='4' }
							<div class="item" style="width: 290px;height: 280px;">
								<div class="itemIcon">
									<a hidefocus="true" href="{$model.url}" target="_blank">
										<img alt="{$model.title}" data-url="{$model.url_icon}" title=""
											 style="width: 290px; height: 211px;">
									</a>
								</div>
								<div class="alive-upLevel half itemTitle" style="height: 70px;">
									<div class="itemDesc alive-center">
										<p><a>{$model.title}</a></p>
									</div>
									<div class="itemDesc alive-center">
										<p>户型： {$model.room}房{$model.hall}厅</p>
									</div>
								</div>
							</div>
							{/volist}

						</div>
					</div>
				</div>
			</article>

			<article class="alive-footer" style="height: 50px;"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-titleCenter border" style="width: 100%;">
					<div class="item active">最热房源</div>
				</div>
			</article>

			<article class="alive-body">
				<div id="newHouse" class="alive-flex alive-upLevel"
					 style="width:100%;min-height:650px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-upLevel" style="position: relative;">

						<div class="alive-layout">

							<div class="alive-header"></div>

							<div class="alive-body">
								<div class="alive-flex outer">
									{volist name="list" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='10' }
									<div class="item alive-item-outer min">
										<div class="itemIcon">
											<a hidefocus="true" href="{$model.url}" target="_blank">
												<img alt="{$model.title}" src="{$model.url_icon}" title=""
													 style="width: inherit; height: inherit;">
											</a>
										</div>
										<div class="itemTitle">
											<a hidefocus="true"
											   href="/"
											   target="_blank"
											   title="{$model.title}">{$model.title}</a>
										</div>
									</div>
									{/volist}
								</div>
							</div>

							<div class="alive-footer"></div>

						</div>

					</div>
				</div>
			</article>

			<article class="alive-footer"></article>

		</section>

		<section class="alive-layout">

			<article class="alive-header" style="height: 100px;">
				<div class="alive-titleCenter border" style="width: 100%;">
					<div class="item active">推荐房源</div>
				</div>
			</article>

			<article class="alive-body">
				<div id="hotHouse" class="alive-flex alive-upLevel"
					 style="width:100%;min-height:650px;position: relative;overflow: hidden;">
					<div class="alive-flex alive-upLevel" style="position: relative;">

						<div class="alive-layout">

							<div class="alive-header"></div>

							<div class="alive-body">
								<div class="alive-flex outer">
									{volist name="list" id="model" empty="<p style='display:inline-block;font-size: 16px;width:100%;color:#ff5722;text-align: center;'>没有符合你要的房源</p>" length='10' }
									<div class="item alive-item-outer min">
										<div class="itemIcon">
											<a hidefocus="true" href="{$model.url}" target="_blank">
												<img alt="{$model.title}" src="{$model.url_icon}" title=""
													 style="width: inherit; height: inherit;">
											</a>
										</div>
										<div class="itemTitle">
											<a hidefocus="true"
											   href="/"
											   target="_blank"
											   title="{$model.title}">{$model.title}</a>
										</div>
									</div>
									{/volist}
								</div>
							</div>

							<div class="alive-footer"></div>

						</div>

					</div>
				</div>
			</article>

			<article class="alive-footer"></article>

		</section>


	</article>
	<!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

	<!-- This fullBottomForms start -->
	<article id="fullBottomTable">

	</article>
	<!-- This fullBottomForms end -->

	<!-- This absBottomForms start -->
	<article id="absBottomTable">

	</article>
	<!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script>

    $(function () {
        Home.init();
    });

</script>

</body>
</html>