<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> [ Home ] </title>
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/bootstrap.min.css" media="all">
</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

    <!-- This absTopForms start -->
    <article id="absTopTable">

    </article>
    <!-- This absTopForms end -->

    <!-- This fullTopForms start -->
    <article id="fullTopTable">

    </article>
    <!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

    <!-- This webBannerTable start -->
    <article id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

        <!-- This bannerAbsTable start -->
        <section id="bannerAbsTable" class="absTopTable">

        </section>
        <!-- This bannerAbsTable end -->

        <section id="banner-body" class="flex" style="display: block;min-height: 300px;">

            <!-- This bannerTopTable start -->
            <article id="bannerTopTable" class="topTable" style="display: none;">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-top-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-top-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-top-right" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerTopTable end -->

            <!-- This bannerMiddleTable start -->
            <article id="bannerMiddleTable" class="middleTable">

                <!-- 顶级主体 左侧 区域开启 -->
                <section class="leftTable flex-middle-left" style="display: none;">

                </section>
                <!-- 顶级主体 左侧 区域结束 -->

                <!-- 顶级主体 中间 区域导航开启 -->
                <section class="centerTable flex-middle-center">

                    <div id="webBanner" style="width: 1200px; overflow: hidden; height: 300px;"></div>

                </section>
                <!-- 顶级主体 中间 区域导航结束 -->

                <!-- 顶级主体 右侧 区域导航开启 -->
                <section class="rightTable flex-middle-right" style="display: none;">

                </section>
                <!-- 顶级主体右侧区域导航结束 -->

            </article>
            <!-- This bannerMiddleTable end -->

            <!-- This bannerBottomTable start -->
            <article id="bannerBottomTable" class="bottomTable">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-bottom-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerBottomTable end -->

        </section>

    </article>
    <!-- This webBannerTable end -->

    <!-- This webBannerTable start -->
    <article id="webContentBody" class="webContentBody">

        <section class="alive-layout">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">楼市政策</div>
                </div>
            </article>

            <article class="alive-body">
                <div id="imgNews" class="alive-flex outer">
                    <table id="table1" class="table table-striped table-hover" width="100%">

                    </table>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

        <section class="alive-layout newsLeftList">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">购房资讯</div>
                </div>
            </article>

            <article class="alive-body " style="margin-top: -40px">
                <div  class="alive-line alive-outer" style="margin-left: 0px;margin-right: 0px">
                    <table id="table2" class="table table-no-bordered" width="100%">

                    </table>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>
        <section class="alive-layout questionRightList">

            <article class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">常见问题</div>
                </div>
            </article>

            <article class="alive-body" style="margin-top: -40px">
                <div  class="alive-line alive-outer" style="margin-left: 0px;margin-right: 0px">
                    <table id="table3" class="table table-no-bordered" width="100%">

                    </table>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>
    </article>
    <!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

    <!-- This fullBottomForms start -->
    <article id="fullBottomTable">

    </article>
    <!-- This fullBottomForms end -->

    <!-- This absBottomForms start -->
    <article id="absBottomTable">

    </article>
    <!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->


<script>

    $(function () {
        var data = JSON.parse('{$slider}');
        var options = {
            "banner": "#webBanner",
            "height": 300,
            "isWidth":true,
            "playTime": 6000,
            "animateTime": 628,
            "interval": 6000,
            "btnType": 1,
            "targetType": "2",
//            "wideScreen": true,
//            "autoPlay":true,
            hiddenBar: true,//设置是否隐藏底部导航条
            hiddenControl: true,//设置隐藏左右切换按钮
        };
        Site.initBanner(data,options);

    });

</script>
<script id="itemtpl" type="text/html">

    <div class="col-sm-4 col-md-3 newsDiv" data-id="<%=item.Id%>">
        <% var image =item.titleimage? item.titleimage:"/assets/img/house_tmp.jpg"; %>
        <div class="thumbnail example">
            <img src="<%=image%>" class="img-responsive" alt="<%=item.title%>">
            <div class="caption">
                <a href="#" class="btn-detail" data-id="<%=item.Id%>">
                <h4><%=item.title%></h4>
                </a>
            </div>
        </div>
    </div>
</script>


</body>
</html>