<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

    <!-- This absTopForms start -->
    <article id="absTopTable">

    </article>
    <!-- This absTopForms end -->

    <!-- This fullTopForms start -->
    <article id="fullTopTable">

    </article>
    <!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

    <!-- This webBannerTable start -->
    <article id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

        <!-- This bannerAbsTable start -->
        <section id="bannerAbsTable" class="absTopTable"
                 style="display:block;min-height: 300px;background-size: cover;background: #F4F4F4 url('/static/uploads/new-house-max-bg.jpg') no-repeat center;">
        </section>
        <!-- This bannerAbsTable end -->

        <section id="banner-body" class="flex" style="display: block;min-height: 300px;">

            <!-- This bannerTopTable start -->
            <article id="bannerTopTable" class="topTable" style="display: none;">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-top-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-top-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-top-right" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerTopTable end -->

            <!-- This bannerMiddleTable start -->
            <article id="bannerMiddleTable" class="middleTable">

                <!-- 顶级主体 左侧 区域开启 -->
                <section class="leftTable flex-middle-left" style="display: none;">

                </section>
                <!-- 顶级主体 左侧 区域结束 -->

                <!-- 顶级主体 中间 区域导航开启 -->
                <section class="centerTable flex-middle-center">

                    <div id="webBanner" class="webBanner bannerTable" style="width: 1349px; overflow: hidden; height: 645px;">
                        <div class="bannerBody" style="width: 6745px; left: 0px;">
                            <span class="item" style="left: 0px;">
                                <a hidefocus="true">
                                    <img src="/static/images/theme/theme-banner1.jpg" alt="图片1" style="width:1349px;height:645px;">
                                </a>
                            </span>
                            <span class="item" style="left: 1349px;">
                                <a hidefocus="true">
                                    <img src="/static/images/theme/theme-banner3.jpg" alt="图片2" style="width:1349px;height:645px;">
                                </a>
                            </span>
                            <span class="item" style="left: 2698px;">
                                <a hidefocus="true">
                                    <img src="/static/images/theme/theme-banner1.jpg" alt="图片1" style="width:1349px;height:645px;">
                                </a>
                            </span>
                            <span class="item" style="left: 4047px;"><a
                                    hidefocus="true">
                                <img src="/static/images/theme/theme-banner3.jpg" alt="图片2" style="width:1349px;height:645px;">
                            </a>
                            </span>
                            <span class="item" style="left: 5396px;">
                                <a hidefocus="true">
                                    <img src="/static/images/theme/theme-banner1.jpg" alt="图片1" style="width:1349px;height:645px;">
                                </a>
                            </span>
                        </div>
                        <div class="bannerPrev switchBtn" style="display: none;"></div>
                        <div class="bannerNext switchBtn" style="display: none;"></div>
                        <div class="bannerBottom">
                            <span data-cid="0" data-title="" class="active">1</span>
                            <span data-cid="1" data-title="" class="">2</span>
                            <span data-cid="2" data-title="" class="">3</span>
                            <span data-cid="3" data-title="" class="">4</span>
                        </div>
                    </div>

                </section>
                <!-- 顶级主体 中间 区域导航结束 -->

                <!-- 顶级主体 右侧 区域导航开启 -->
                <section class="rightTable flex-middle-right" style="display: none;">

                </section>
                <!-- 顶级主体右侧区域导航结束 -->

            </article>
            <!-- This bannerMiddleTable end -->

            <!-- This bannerBottomTable start -->
            <article id="bannerBottomTable" class="bottomTable">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-bottom-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </article>
            <!-- This bannerBottomTable end -->

        </section>

    </article>
    <!-- This webBannerTable end -->

    <!-- This webBannerTable start -->
    <article id="webContentBody" class="webContentBody">

        <section class="alive-layout">

            <article class="alive-header" style="height: 50px;"></article>

            <article class="alive-body">
                <div class="alive-flex alive-outer">
                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>

                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>

                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>

                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>

                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>

                    <div class="alive-item-outer" style="width: 310px; height: 340px;">
                        <div>
                            <a class="" href="" target="_blank" style="width:320px;height:184px;">
                                <div style="bottom:49.0px;">
                                    <img alt="文章附图" title="" src="/static/uploads/ima11.jpg"
                                         style="width:310.0px;height:282.0px;">
                                </div>
                            </a>
                        </div>

                        <div>
                            <div style="width: 100%;">
                                <div>
                                    <a class="" href="" target="_blank"></a>
                                </div>
                                <a hidefocus="true" href="" target="_blank" title="" class="" mix="1">二手房过户有什么需要准备的？</a>
                            </div>
                            <p>先了解一下购房过户手续的一...</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

        <section class="alive-layout">

            <article class="alive-header" style="height: 50px;"></article>

            <article class="alive-body">
                <div class="alive-line alive-outer" style="height:640px;">
                    <div class="alive-flex alive-outer" style="position: relative;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hideLine" style="width: 100%;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hideLine" style="width: 100%;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hideLine" style="width: 100%;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hideLine" style="width: 100%;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hideLine" style="width: 100%;">
                        <div class="alive-line-item alive-level" style="height:100px;">
                            <div class="level-left line-left line-title" style="width:200px;vertical-align:top;">
                                <a hidefocus="true" href="" target="_blank">2017/05/15</a>
                            </div>
                            <div class="level-right line-right alive-level">
                                <div class="level-left line-icon">
                                    <div class="circleOuter">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <div class="level-right line-content">
                                    <div class="content-title">
                                        <a class="" hidefocus="true" href="" target="_blank" title="">title</a>
                                    </div>
                                    <div class="content-body">
                                        <p class="summary">content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="upLine" style="height:100%;left: 222px;">
                    </div>
                </div>
            </article>

            <article class="alive-footer"></article>

        </section>

    </article>
    <!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

    <!-- This fullBottomForms start -->
    <article id="fullBottomTable">

    </article>
    <!-- This fullBottomForms end -->

    <!-- This absBottomForms start -->
    <article id="absBottomTable">

    </article>
    <!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script>

    $(function () {
        var data = [
            {
                "title": "图片1",
                "desc": "",
                "target": "",
                "src": "/static/images/theme/theme-banner1.jpg",
            },
            {
                "title": "图片2",
                "desc": "",
                "target": "",
                "src": "/static/images/theme/theme-banner3.jpg",
            },
            {
                "title": "图片1",
                "desc": "",
                "target": "",
                "src": "/static/images/theme/theme-banner1.jpg",
            },
            {
                "title": "图片2",
                "desc": "",
                "target": "",
                "src": "/static/images/theme/theme-banner3.jpg",
            }
        ];
        var options = {
            "banner": "#webBanner",
//        "width": 1200,
//        "height": 487,
            "playTime": 4000,
            "animateTime": 628,
            "interval": 2000,
            "btnType": 1,
            "targetType": "2",
            "wideScreen": true,
            "autoPlay":false
        };
        Site.initBanner(data,options);
    });

</script>

</body>
</html>